body {
    background-color: bisque;
     font-family: Arial;
     line-height: 2;
    font-size: 17px;

}

h1 {
 font-size: 45px;
 text-align: center;
 color: brown;
 
}

h2 {
    text-align: center;
    font-size: 30px;
    color: blueviolet;
}

h4 {
    text-align: center;
    font-size: 17;
    background-color: burlywood;
}

.title {
    text-align: right;
    line-height: 1;
}

.fig {
    align-content: center;
}

    